[user]
	name = DeletedMyEmail
	email = 88390464+DeletedMyEmail@users.noreply.github.com
[alias]
	pr = pull --rebase
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
	autocrlf = input
